.allback{
    background-repeat: no-repeat;
    background-position: top;
    background-size: 16%;
    display: flex;
    justify-content: flex-start;
    background-position: right;

}

li>a{
    display: inline;
    text-decoration: none;
    color: rgb(103, 112, 7);
    padding: 20%;
}
li>a>svg{
    color: rgb(122, 134, 15);
}
.speedDial{
    position: fixed;
    right: 1vmax;
    top: 1vmax;
}
.button{
    position: fixed;
    right: 1vmax;
    bottom: 1vmax;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: red;
    /* background-image: url('../../../images/cursor.png'); */
    /* background-repeat: no-repeat; */
}
.speedDialIcon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
nav{
    height: 8vh;
    width: 90vw;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}
nav>img{
    height: 8vh;
}

main>{
    display: flex;
    text-decoration: none;

}
main>a{
    text-decoration: none;
}
main>a.first{
    color: brown;
}

