footer{
    margin-top: 10vmax;
    padding: 2vmax;
    /* background-color: rgb(34,33,33); */
    background:linear-gradient(rgba(72, 255, 0, 0), rgb(225, 165, 13));
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter{
    width: 20%;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.leftFooter >h4{
    font-family: "Roboto";
    font-size: 1vmax;
    color: brown;
}
.leftFooter >p{
    text-align: center;
    font-size: 1.2vmax;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}
.leftFooter>img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}
.midFooter{
    width: 60%;
    text-align: center;
}
.midFooter>h1{
    font-size: 4vmax;
    font-family: "Roboto";
    word-spacing: 10%;
    padding: 30px;
    color: grey;
}
.midFooter>p{
    max-width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1vmax auto;
    color: grey;
}
.rightFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightFooter>h4{
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
}
.rightFooter>a{
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(121, 16, 16);
    transition: all 0.5;
    margin: 0.5vmax;
}
.rightFooter>a:hover{
    color: #0b28a9;
}