.banner{
    background-image: url("../../images/banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vmin;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    color: white;
    
}
.banner>h1{
    margin: 5vmax;
    color:rgb(225, 11, 249);
    font: 600 2.5vmax "Roboto";
}

.banner>p{
    font: 500 3.4vmax "Lucisa Sans";
    color: rgb(8, 6, 7);
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid springgreen;
    border-radius:30px;
    border-top: 2px solid red;
    background-image: url("../../images/front.png");
}
.banner>a>button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 35%;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}
.banner>a>button:hover{
    background-color: rgba(255,255,255,0);
    color: white;
}

.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size:1.4vmax;
    border-bottom: 2px solid rgb(26, 209, 127);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgba(198, 236, 10, 0.843);
    background-image: url('../../images/front3.jpg');
    border-radius: 100px;
}

.imgcontainer{
    background-color:grey;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 2vmax auto;
    width: 80vmax;
    justify-content: center;
    background-repeat: no-repeat;

}

.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48,48,48);
    margin: 2vmax;
    transition: all 0.5;
    padding-bottom: 0.5vmax;
}

.scrollbutton{
    position: fixed;
    right: 1vmax;
    bottom: 1vmax;
    width: 56px;
    height: 56px;
    color: rgb(101, 222, 15);
    border-radius: 100%;
}
.productCard > img{
    width: 14vmax;
    border-radius: 60px 20px 50px;
}

.productCard > div{
    display: flex;
    justify-content: flex-start;
    margin: 0.5vmax;
    align-items: center;
}
.productCardSpan{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
    color: black;
}

.productCard > p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    color:black ;
}
.productCard > span{
    margin: 0.5vmax ;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
    color: green;
}
.productCard:hover{
    box-shadow: 0 0 5px rgb(15,15,15,0.26);
    transform: translate(-1vmax ,- 1vmax);
}

@media screen and (max-width:600px) {

    .container{
        width: 100%;
    }
    
    .productCard>p{
        font-size: 1.7vmax;
    }
    .productCard>div{
        margin: 0vmax;
        display: block;
    }
    .productCard>span{
        font-size: 1.5vmax;
    }
    .productCard.div.span{
        margin: 0,0.5vmax;
        font: 300 1vmax "Roboto";
    }
}